$color_1: #666;
$color_2: #fff;
$color_3: #333;
$color_4: #c96;
$color_5: #bf8040;
$color_6: #a6c76c;
$color_7: #ccc;
$color_8: #777;
$color_9: #333333;
$color_10: #cccccc;
$color_11: inherit;
$color_12: #999;
$color_13: #999999;
$color_14: rgba(255,255,255,0.45);
$color_15: rgba(255,255,255,0.8);
$color_16: #222;
$color_17: #c15454;
$color_18: #f4e8dd;
$color_19: #1cc0a0;
$color_20: #fcb941;
$color_21: #666666;
$color_22: #ebebeb;
$color_23: #8c8c8c;
$color_24: #ef837b;
$color_25: #cc9966;
$color_26: #8f79ed;
$color_27: #79c8ed;
$color_28: #dd6d9a;
$color_29: #e66262;
$color_30: #3399cc;
$color_31: #e02b27;
$color_32: #000;
$color_33: #706f6c;
$color_34: #eaeaea;
$color_35: rgba(255,255,255,0.7);
$color_36: rgba(255,255,255,0.9);
$color_37: rgba(255,255,255,0.5);
$color_38: #dadada;
$color_39: #f1f1f1;
$color_40: #cc3333;
$color_41: #3366cc;
$font-family_1: "molla";
$font-family_2: 'molla';
$font-family_3: 'Poppins';
$font-family_4: "Poppins",sans-serif;
$background-color_1: #fff;
$background-color_h_2: #4f5356;
$background-color_2: #c96;
$background-color_h_3: rgba(102,102,102,0.25);
$background-color_3: #f8f8f8;
$background-color_h_4: transparent;
$background-color_4: #f9f9f9;
$background-color_5: #fafafa;
$background-color_h_6: rgba(255,255,255,0.9);
$background-color_6: #f4f5f8;
$background-color_7: #a6c76c;
$background-color_8: #ccc;
$background-color_9: #333;
$background-color_10: #ebebeb;
$background-color_11: #f4f4f4;
$background-color_12: #ef837b;
$background-color_13: transparent;
$background-color_14: rgba(25,25,25,0.25);
$background-color_15: #333333;
$background-color_16: #444444;
$background-color_17: #f5f6f9;
$background-color_18: #222;
$background-color_19: #cc6666;
$background-color_20: #f7f7f7;
$background-color_21: #1cc0a0;
$background-color_22: #fcb941;
$background-color_23: #dadada;
$background-color_24: #eaeaea;
$background-color_25: #525455;
$background-color_26: #b5b5b5;
$background-color_27: #e9e9e9;
$background-color_28: #d7d7d7;
$background-color_29: rgba(255,255,255,0.9);
$background-color_30: rgba(255,255,255,0.95);
$background-color_31: #7dd2ea;
$background-color_32: #f7f8fa;
$background-color_33: #cc9966;
$background-color_34: rgba(51,51,51,0.4);
$background-color_35: rgba(51,51,51,0.25);
$background-color_36: rgba(255,255,255,0.3);
$background-color_37: #8f79ed;
$background-color_38: #79c8ed;
$background-color_39: #dd6d9a;
$background-color_40: #e66262;
$background-color_41: #3399cc;
$background-color_42: rgba(51,51,51,0.5);
$background-color_43: #f5f5f5;
$background-color_44: #da2828;
$background-color_45: #32b1d6;
$background-color_46: #20cb55;
$background-color_47: #ea8745;
$background-color_48: #cccccc;
$background-color_49: rgba(255,255,255,0.4);
$background-color_50: #f6f6f6;
$background-color_51: rgba(102,102,102,0.7);
$background-color_52: rgba(249,249,249,0.7);
$background-color_53: rgba(25,25,25,0.3);
$background-color_54: #fdfdfd;
$border-color_1: transparent transparent #ebebeb transparent;
$border-color_2: rgba(255,255,255,0.45);
$border-color_3: rgba(255,255,255,0.1);
$border-color_4: #c96;
$border-color_5: #999;
$border-color_6: #e5e5e5;
$border-color_7: #dadada;
$border-color_8: #ccc;
$border-color_9: #cc6666;
$border-color_10: #f4f4f4;
$border-color_11: #fff;
$border-color_12: #ebebeb;
$border-color_13: transparent;
$border-color_14: #d7d7d7;
$border-color_15: #ebebeb #ebebeb #d7d7d7 #ebebeb;
$border-color_16: #ebebeb #d7d7d7 #ebebeb #ebebeb;
$border-color_17: #a6c76c;
$border-color_18: #333;
$border-color_19: #959595;
$border-color_20: #cc9966;
$border-color_21: #8f79ed;
$border-color_22: #79c8ed;
$border-color_23: #dd6d9a;
$border-color_24: #e66262;
$border-color_25: #3399cc;
$border-color_26: #f5f5f5;
$border-color_27: #e4e4e4;
$border-top-color_1: #efefef;
$border-right-color_1: transparent;
$border-bottom-color_1: #c96;
$border-bottom-color_2: #efefef;
$border-bottom-color_3: #dadada;
$border-bottom-color_4: rgba(250,250,250,0.2);
$border-bottom-color_5: transparent;
$border-left-color_1: #4b4b4b;