<div class="header-search">
    <button type="submit"  class="search-toggle btn-remove"  title="Search"><i class="icon-search"></i></button>
    <form asp-action="index" asp-controller="shop">
        <div  class="header-search-wrapper">
            <label for="q" class="sr-only">Search</label>
            <input type="text" class="form-control input-search" name="SearchTerm" id="q" placeholder="Search in..." required>
        </div><!-- End .header-search-wrapper -->
    </form>
    <ul class="search-results home-two" style="position: absolute; left: -300px; top: 49px;"></ul>
</div><!-- End .header-search -->





<style>

    @@media screen and (min-width: 300px) {
        .header-search {
            display: block !important;
        }
        .search-results{
            width: 302px !important;
            left: -229px !important;
        }
    }

    @@media screen and (min-width: 500px) {
      

        .search-results {
            width: 370px !important;
            left: -300px !important;
        }
    }
</style>