
<form class="footer__form"
      method="post"
      id="newsletter-subscribe">
    <input class="footer__form__input"
           type="text"
           name="email" id="email"
           placeholder="Subscribe to our newsletter...">
    <input class="footer__form__btn" type="submit" value="Submit" />
</form>

    <style>
        .footer__form {
            display: flex;
            justify-content: start;
            align-items: center;
        margin-bottom: 40px;
        }

        .footer__form__input {
            width: 420px;
            height: 55px;
            padding-left: 20px;
            background: transparent;
            border: 1px solid #999;
            color: #fff;
        }

        .footer__form__btn {
            padding: 16px 52px;
            font-size: 16px;
            line-height: 21px;
            border-radius: 0;
            color: #fff;
            background: #000;
            outline: 0 none;
            text-transform: capitalize;
            transition: 0.3s;
            border: 1px solid #222;
            margin-left: 5px;
            border-color: #fff;
        }
    </style>
